spring:
  application:
    name: labtic
  datasource:
    driverClassName: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://vbclocalhost:3306/labtic?useSSL=false
    username: root
    password: password
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect
        format_sql: true
logging:
  level:
    ROOT: INFO